NEXT_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT_ID=
NEXT_PUBLIC_APPWRITE_DATABASE_ID=cnr_ai_hub

APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=
APPWRITE_API_KEY=
APPWRITE_DATABASE_ID=cnr_ai_hub

DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
CNR_AI_HUB_BOT_TOKEN=
CNR_AI_CHAT_BOT_TOKEN=

OPENAI_API_KEY=

HF_TOKEN=
HF_CHAT_MODEL=Qwen/Qwen2.5-7B-Instruct:together
HF_IMAGE_MODEL=black-forest-labs/FLUX.1-schnell
